<table class="table w-75">
    <p *ngIf="todoList&&todoList.length==0">Rien à faire</p>
    <tbody>
        
      <tr  *ngFor="let item of todoList;index as i">
        <td [ngClass]="{'line-through':item.completed}" class="col-10">{{item.text}} &#40;{{item.createdAt | date}}&#41;</td>
        <td class="col-1"><button *ngIf="!item.completed" (click)="done(i)">&#10003;</button></td>
        <td class="col-1"><button (click)="delete(i)">&#10007;</button></td>
        
      </tr>
      
    </tbody>
  </table>
